.justify-center{
  justify-content: end;
}
.w-36 {
  /* max-width: 1155px; */
  width: auto;
  object-fit: cover;
}
.h-36 {
  /* max-height: 992px; */
  object-fit: cover;
  height: 40rem;
}
.link-commercial {
  background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-tv {
  background-image: linear-gradient(to bottom, #7270fa 0%, #40fede 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-mvs {
  background-image: linear-gradient(to bottom, #97fa70 0%, #218126 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-feature {
  background-image: linear-gradient(to bottom, #fa70e8 0%, #962bb6 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-personalw {
  background: #00DBDE;
  background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-clients {
  background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.link-about {
  background: #485563;  /* fallback for old browsers */
  background-image: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: 0px 1px 5px rgb(53, 53, 53);
}
.mb-2 { 
  position:absolute;
  z-index:-1;
  display: block;
  top: 0;
  border-top-right-radius: 0.5rem; /* 8px */
  border-top-left-radius: 0.5rem; /* 8px */
}
.dark\:text-white  {
  color: white;
}
.dark\:prose-light h2{
  color: white;
}
h1{
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 2px 5px rgb(53, 53, 53);
}
h2 {
  text-shadow: 0px 2px 5px rgb(53, 53, 53);
}
.bg-gradient {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: white;
  text-shadow: 0 14px 8px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.75);
}
.bg-gradient2 {
  background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  color: white;
  margin-bottom: 1rem;
  padding: 5px;
}
.bg-gradient3 {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);  
  color: white;
  margin-bottom: 1rem;
  padding: 5px;
}
